// Center hero container vertically
.wg-hero .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-title {
    font-size: 9vmin;
    text-align: center;
    font-weight: bold;
}

.hero-lead {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 2em;
    line-height: 1.125em;
}

// Parallax background for slider background
.carousel-inner .wg-hero {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// Height of last picture before footer
#image {
    min-height: 40vh;
}

#image > div.home-section-bg.bg-image {
    background-position: top;
}

// Text width for article sites
.article-container {
    max-width: #{"max(60vw, 760px)"};
}

// Height of about section
#about {
    min-height: 50vh;
}

#about > div.container {
    max-width: #{"max(60vw, 760px)"};
}